GBuffer.hlsl -T vs -O3 -o "" -E VSMain
GBuffer.hlsl -T ps -O3 -o "" -E PSMain
SimpleForward.hlsl -T vs -O3 -o "" -E VSMain
SimpleForward.hlsl -T ps -O3 -o "" -E PSMain
Bare.hlsl -T vs -O3 -o "" -E VSMain
Bare.hlsl -T ps -O3 -o "" -E PSMain
Base3d.hlsl -T vs -O3 -o "" -E VSMain
Base3d.hlsl -T ps -O3 -o "" -E PSMain
imgui_pixel.hlsl -T ps -O3 -o "" -E main
imgui_vertex.hlsl -T vs -O3 -o "" -E main
LightPass.hlsl -T vs -O3 -o "" -E VSMain
LightPass.hlsl -T ps -O3 -o "" -E PSMain
Test.hlsl -T vs -O3 -o "" -E VSMain
Test.hlsl -T ps -O3 -o "" -E PSMain
SpBrdf.hlsl -T cs -O3 -o "" -E CSMain
Pick.hlsl -T cs -O3 -o "" -E CSMain
EditorHighlightPass.hlsl -T vs -O3 -o "" -E VSMain
EditorHighlightPass.hlsl -T ps -O3 -o "" -E PSMain
DebugDraw.hlsl -T vs -O3 -o "" -E VSMain
DebugDraw.hlsl -T ps -O3 -o "" -E PSMain
